# Ignore dotfiles in the top level dir (eg .git)
.*
!.coveragerc
!.yarnrc

# Ignore docker-related files
docker-compose.yml
docker-compose.*.yml

# Ignore coverage report folder
coverage

# Ignore other docker image folders
images

# Ignore webpack/npm/css configuration
webpack-stats.json

# Ignore content outputted by the webpack-dev-server
assets
node_modules

# Ignore generated caches
__pycache__

# Ignore operator scripts
h2tools.sh
update.sh

# Ignore documentation files
LICENSE.md
README.md

# Ignore renovate configuration
renovate.json
