version: '3.5'

services:
  app:
    depends_on:
      - db
      - redis
    entrypoint: ["/opt/hunter2/venv/bin/uwsgi"]
    command: ["--ini", "uwsgi.ini"]
    environment:
      - H2_ADMINS
      - H2_DATABASE_PASSWORD
      - H2_DATABASE_URL
      - H2_DEBUG
      - H2_DOMAIN
      - H2_EMAIL_DOMAIN
      - H2_EMAIL_URL
      - H2_IMAGE_VERSION
      - H2_PIWIK_HOST
      - H2_PIWIK_SITE
      - H2_SCHEME
      - H2_SENDFILE=django_sendfile.backends.nginx
      - H2_SENTRY_DSN
      - PYTHONFAULTHANDLER=true
      - UWSGI_THREADS
      - UWSGI_WORKERS
    image: ${H2_REGISTRY:-registry.gitlab.com/hunter2.app/hunter2}/app:${H2_IMAGE_VERSION:-latest}
    volumes:
      - config:/config:z
      - metrics_spool:/var/spool/django_prometheus:z
      - uploads_events:/uploads/events:z
      - uploads_puzzles:/uploads/puzzles:z
      - uploads_site:/uploads/site:z
      - uploads_solutions:/uploads/solutions:z
  websocket:
    depends_on:
      - db
      - redis
    environment:
      - H2_ADMINS
      - H2_DATABASE_PASSWORD
      - H2_DATABASE_URL
      - H2_DEBUG
      - H2_DOMAIN
      - H2_EMAIL_DOMAIN
      - H2_EMAIL_URL
      - H2_IMAGE_VERSION
      - H2_PIWIK_HOST
      - H2_PIWIK_SITE
      - H2_SCHEME
      - H2_SENDFILE=django_sendfile.backends.nginx
      - H2_SENTRY_DSN
      - ASGI_THREADS
    image: ${H2_REGISTRY:-registry.gitlab.com/hunter2.app/hunter2}/app:${H2_IMAGE_VERSION:-latest}
    volumes:
      - config:/config:z
      - uploads_events:/uploads/events:z
      - uploads_puzzles:/uploads/puzzles:z
      - uploads_site:/uploads/site:z
      - uploads_solutions:/uploads/solutions:z
  db:
    environment:
      - H2_DATABASE_PASSWORD
      - H2_DB_EXPORTER_PASSWORD
      - POSTGRES_PASSWORD
    image: ${H2_REGISTRY:-registry.gitlab.com/hunter2.app/hunter2}/db:${H2_IMAGE_VERSION:-latest}
    volumes:
      - db14:/var/lib/postgresql/data:Z
  db_exporter:
    depends_on:
      - db
    environment:
      - DATA_SOURCE_NAME=postgresql://postgres_exporter:${H2_DB_EXPORTER_PASSWORD}@db:5432/postgres?sslmode=disable
    image: ${H2_REGISTRY:-registry.gitlab.com/hunter2.app/hunter2}/postgres_exporter:${H2_IMAGE_VERSION:-latest}
  metrics:
    environment:
      - H2_IMAGE_VERSION
    image: ${H2_REGISTRY:-registry.gitlab.com/hunter2.app/hunter2}/metrics:${H2_IMAGE_VERSION:-latest}
    ports:
      - 127.0.0.1:9090:9090
    volumes:
      - metrics:/prometheus:Z
  redis:
    image: redis:7.0.0-alpine3.15@sha256:541e6d75df5dfb08e8859929bab06da265673808a6f2285abe6b7c76c1c98c6e
    volumes:
      - redis:/data:Z
  redis_exporter:
    depends_on:
      - redis
    environment:
      - REDIS_ADDR=redis://redis:6379
    image: oliver006/redis_exporter:v1.43.0@sha256:e15e5ddf9c1d66a608647a502bdb5d289f8f8b9e7be30079e75817ecc624bd0e
  web:
    depends_on:
      - app
    environment:
      - H2_IMAGE_VERSION
    image: ${H2_REGISTRY:-registry.gitlab.com/hunter2.app/hunter2}/web:${H2_IMAGE_VERSION:-latest}
    ports:
      - "${H2_LISTEN:-8080}:8080"
    volumes:
      - uploads_events:/media/events:ro,z
      - uploads_puzzles:/media/puzzles:ro,z
      - uploads_site:/media/site:ro,z
      - uploads_solutions:/media/solutions:ro,z

volumes:
  db14: {}
  config: {}
  metrics: {}
  metrics_spool: {}
  redis: {}
  uploads_events: {}
  uploads_puzzles: {}
  uploads_site: {}
  uploads_solutions: {}
