@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/card";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/transitions";

h3.stats-puzzle-heading {
    padding-top: 0.6em;
}

table.player-stats-table {
    @extend .table;
    @extend .table-sm;
    @extend .table-striped;
}

table.player-stats-table col.position-column {
    width: 3em;
}

table.player-stats-table col.duration-column {
    width: 10em;
}
