{% load analytical %}
{% load render_bundle from webpack_loader %}
{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
	{% analytical_head_top %}

	{# Required meta tags #}
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{% render_bundle 'hunter2' 'css' %}
	{% block style %}{% endblock %}

	<title>{{ request.site.name }}</title>

	{% if sentry_dsn %}
	<script>window.sentry_dsn = '{{ sentry_dsn }}'</script>
	{% render_bundle 'sentry' 'js' %}
	{% endif %}

	{% block script %}
	{% render_bundle 'hunter2' 'js' attrs='defer' %}
	{% endblock %}

	{% analytical_head_bottom %}
</head>
<body>
	{% analytical_body_top %}

	<nav class="hunter2_bar">
		{% block topbar_title %}
			<a class="event_title" href="{% url 'index' %}">Home</a>
		{% endblock %}

		<button type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="toggle_icon"></span>
		</button>

		<div id="collapsibleNavbar">
			<ul id="hunter2_bar_left">
				{% block topbar_left %}{% endblock %}
			</ul>

			<ul id="hunter2_bar_right">
				{% block topbar_right %}
					{% if user.is_authenticated %}
						<li><a href="{% url 'edit_profile' %}" id="navUser">Account</a></li>
						<li><a href="#" onclick="$('#logoutForm').submit()">Logout</a></li>
						<li><form id="logoutForm" action="{% url 'account_logout' %}?next={{ request.get_full_path | urlencode }}" method="post">{% csrf_token %}</form></li>
					{% else %}
						<li><a href="{{ login_url }}" id="navLogin">Login</a></li>
					{% endif %}
				{% endblock %}
			</ul>
		</div>
	</nav>

	{# Debugging information #}
	{% block debug %}{% endblock %}
	
	{# Annoucements & Javascript Warning #}
	<aside id="announcements">
		<noscript>
			<div class="alert alert-danger" role="alert">
				<strong>You do not have JavaScript Enabled</strong> JavaScript is required to access and take part in a hunt.
			</div>
		</noscript>
		{% block announcements %}{% endblock %}
	</aside>

	{% comment %}
	We have two levels of block for the top level elements. Most templates should define {% block page_header %} and {% block content %}.
	Templates should define {% block header %} and {% block main %} only if they want to override the classes on the <header> and <main> elements.
	{% endcomment %}

	{% block header %}
	<header>
		{% block page_header %}{% endblock page_header %}
	</header>
	{% endblock %}

	{% block main %}
	<main>
		{% block content %}If you're seeing this, contact the site administrators.{% endblock content %}
	</main>
	{% endblock %}

	<footer>
	    <div>Built with <a href="https://hunter2.app/">Hunter2</a></div>
		<div>Copyright &copy; 2017-2019  The Hunter 2 Contributors</div>
		<div>Licensed under the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU AGPL 3.0</a></div>
	</footer>

	{% analytical_body_bottom %}
</body>
</html>
