{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load django_bootstrap5 %}

{% block content %}
	<div class="row d-flex justify-content-center align-items-center">
		<div class="card col-12 col-md-8 col-lg-6 col-xl-5">
			<div class="card-body">
				<h1 class="card-title">Log In or Sign Up</h1>
				<p class="card-subtitle text-muted">Log in using an existing account or sign up for an account</p>
				<div class="my-4">
					<div class="btn-group w-100" role="group">
						{% block accounts_buttons %}{% endblock %}
					</div>
				</div>
				<div class="mt-4">
					{% block accounts_form %}{% endblock %}
					{% get_providers as socialaccount_providers %}
					{% if socialaccount_providers %}
						<hr />
						<div class="socialaccount_ballot">
							<ul class="socialaccount_providers">
								{% include "socialaccount/snippets/provider_list.html" with process="login" %}
							</ul>
						</div>
						{% include "socialaccount/snippets/login_extra.html" %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
