{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load django_bootstrap5 %}
{% load render_bundle from webpack_loader %}

{% block style %}
{{ block.super }}
{% render_bundle 'accounts_providers' 'css' %}
{% endblock %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block accounts_buttons %}
	{% bootstrap_button _("Log In") button_class="btn-secondary" href=login_url%}
	{% bootstrap_button _("Sign Up") button_class="btn-outline-secondary" href=signup_url %}
{% endblock %}

{% block accounts_form %}
	<form class="login" method="POST" action="{% url 'account_login' %}">
		{% url 'account_reset_password' as reset_url %}
		{% csrf_token %}
		{% bootstrap_form form layout="floating" exclude="remember" %}
		{% if redirect_field_value %}
			<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
		{% endif %}
		<div class="row">
			<div class="col">
				{% bootstrap_field form.remember %}
			</div>
			<div class="col text-end" aria-label="Reset password">
				<a href="{{ reset_url }}">{% trans "Forgot Password?" %}</a>
			</div>
		</div>
		{% bootstrap_button _("Log In") button_class="btn-primary" extra_classes="w-100" size="lg" button_type="submit" %}
	</form>
{% endblock %}
