{% extends "socialaccount/base.html" %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
	{% with provider=account.get_provider site_name=site.name %}
	<div class="row d-flex justify-content-center align-items-center">
		<div class="card col-12 col-md-8 col-lg-6 col-xl-5">
			<div class="card-body">
				<div class="card-text text-center">
					<i class="bi bi-{{provider.id}} text-center" style="font-size: 5rem"></i>
				</div>
				<h1 class="card-title text-center">Sign Up with {{provider_name}}</h1>
				<p class="card-subtitle text-muted">
					{% blocktrans %}
						Please complete to use {{provider.name}} to log in to {{site_name}}:
					{% endblocktrans %}
				</p>
				<div class="mt-3">
					<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
						{% csrf_token %}
						{% bootstrap_form form layout="floating" %}
						{% if redirect_field_value %}
							<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
						{% endif %}
						{% bootstrap_button _("Sign Up") button_class="btn-primary" extra_classes="w-100" size="lg" button_type="submit" %}
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endwith %}
{% endblock %}
