<div class="admin_progress_widget">
	<div id="auto_update" class="d-flex flex-row">
		<input type="checkbox" v-model="autoUpdate" id="auto-update" />
		<label for="auto-update">Update automatically</label>
	</div>

	<div class="card" id="admin-progress-filters-key">
		<div class="card-header d-grid gap-0" id="admin-progress-filters-header">
			<button class="btn btn-light collapsed" data-bs-toggle="collapse" data-bs-target="#filter-help-body" aria-expanded="false" aria-controls="filter-help-body">Filters &amp; Help...</button>
		</div>
		<div class="collapse" id="filter-help-body">
			<div class="card card-body d-flex flex-row justify-content-between">
				<div id="admin-progress-filters-container" class="p-2 flex-grow-1">
					<h4>Filters</h4>
					<span class="glyphicon glyphicon-plus"/>
					<p><a href="?" v-on:click.prevent="clearFilters">Reset</a></p>
					<div>
						<template v-for="episode in episodes">
							<input type="checkbox" :id="'filter-episode-' + episode" :value="episode"
								   v-model="filters.episodes">
							<label :for="'filter-episode-' + episode" class="episode-label">Episode {{ episode }}</label>
						</template>
					</div>
					<label for="filter-open-puzzles">
						Number of Open Puzzles
						(<input type="checkbox" id="filter-no-hints" v-model="filters.no_hints">
						<label for="filter-no-hints" class="no-margin">with no scheduled hints</label>)
					</label>
					<el-slider
							id="filter-open-puzzles"
							v-model="filters.open_puzzles"
							range
							:max="puzzles.length || Infinity"
					></el-slider>
					<label for="filter-latest-guess">Minutes since Last Guess</label>
					<el-slider
							id="filter-latest-guess"
							v-model="filters.latest_guess"
							range
							:max="oldest_latest_guess / (60 * 1000) + 1"
					></el-slider>
					<label for="filter-total-guesses">Total Guesses</label>
					<el-slider
							id="filter-total-guesses"
							v-model="filters.total_guesses"
							range
							:max="max_total_guesses"
					></el-slider>
				</div>
				<div id="admin-progress-key-container" class="p-4">
					<h4>Key</h4>
					<table class="card-body table">
						<thead>
							<tr>
								<th scope="col">Team has...</th>
								<th scope="col">Indicated by...</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Not opened the puzzle</td>
								<td><progress-state :state="{state: 'not_opened'}"/></td>
							</tr>
							<tr>
								<td>Opened just now, not guessed</td>
								<td>
									<progress-state :state="{
											state: 'open',
											guesses: 0,
											time_on: 0,
											hints_scheduled: true,
											latest_guess: null
										}"/>
								</td>
							</tr>
							<tr>
								<td>Open 5 mins, guessed just now</td>
								<td>
									<progress-state :state="{
											state: 'open',
											guesses: 1,
											time_on: 60 * 5,
											hints_scheduled: true,
											latest_guess: Date.now()
										}"/>
								</td>
							</tr>
							<tr>
								<td>
									Open 1h,<br>
									latest 30 minutes ago
								</td>
								<td>
									<progress-state :state="{
											state: 'open',
											guesses: 10,
											time_on: 60 * 60,
											hints_scheduled: true,
											latest_guess: this.now().minus({minutes: 30}).toISO()
										}"/>
								</td>
							</tr>
							<tr>
								<td>
									Open 3h; latest 10m ago;<br>
									no more hints scheduled
								</td>
								<td>
									<progress-state :state="{
											state: 'open',
											guesses: 250,
											time_on: 60 * 60 * 3,
											hints_scheduled: false,
											latest_guess: this.now().minus({minutes: 10}).toISO()
										}"/>
								</td>
							</tr>
							<tr>
								<td>Solved the puzzle</td>
								<td><progress-state :state="{state: 'solved'}"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<table class="table admin-progress-table">
		<thead>
			<tr>
				<th scope="col">Team</th>
				<th scope="col" v-for="field in fields" :title="field.headerTitle">{{ field.label }}</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="(team, row) in progress_data">
				<td><a :href="team.url">{{ team.name }}</a></td>
				<td v-for="(state, col) in team.progress">
					<a :href="`${team.url}#puzzle-${state.puzzle_id}`" :title="hover_info(state)">
						<progress-state :state="state" :row="row" :col="col" />
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
