ol.hints {
  list-style: none;

  > li {
      display: inline;
      text-decoration: dashed underline;
  }

  > li:not(:last-child):after {
      content: ", ";
  }
}

.header-link {
  float: right;
  margin: 3pt;
}

.expandable-indicator {
    float: left;
    font-weight: bold;
    font-size: 200%;
    line-height: 75%;
    vertical-align: top;
}

.started-puzzle-header {
    &.collapsed::before {
        @extend .expandable-indicator;
        content: "+";
    }

    &:not(.collapsed)::before {
        @extend .expandable-indicator;
        content: "\2212"; /* Minus Sign */
    }
}

.reset-button {
    float: right;
    margin-left: 1em;
    text-align: center;
    border-radius: 50%;
    padding: 0;
    width: 1.2em;
    height: 1.2em;
    line-height: 1.2em;
    font-size: 1.5rem;
}
