<div class="alert-list">
	<div
		v-for="announcement in announcements"
		:class="'alert alert-' + announcement.variant + (announcement.dismissible ? ' alert-dismissible' : '')"
		:key="announcement.id"
	>
		<h2 v-html="announcement.title" /><p v-html="announcement.text" />
		<button v-if="announcement.dismissible" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" />
	</div>
	<div
		v-for="message in messages"
		:class="'alert alert-dismissible alert-' + message.variant"
		:key="message.text"
		role="alert"
	>
		<p>{{ message.text }}</p>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" />
	</div>
</div>
